.categories .category-tag {
    font-weight: 700;
    font-family: 'Jost', serif;
    /* color: #FFFFFF; */
    color: #f4e7da ;
}

.categories .light-bg .category-tag {
    color: #7a634e ;
}

/* ==========================
  Categories Hero  
========================== */
.categoriesHero .categoriesHero-wrapper {
    position: relative;
    min-height: 400px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.categoriesHero .categoriesHero-content {
    position: relative;
    z-index: 2;
    max-width: 500px;
}

.categoriesHero .overlay {
    position: absolute;
    inset: 0;
    /* background: 
        linear-gradient(90deg, rgba(14, 12, 10, 0.98) 0%, rgba(14, 12, 10, 0.75232) 18.98%, rgba(14, 12, 10, 0.6) 39.42%, rgba(14, 12, 10, 0) 66.35%),
        linear-gradient(90deg, rgba(14, 12, 10, 0.98) 0%, rgba(14, 12, 10, 0.75232) 18.98%, rgba(14, 12, 10, 0.6) 39.42%, rgba(14, 12, 10, 0) 66.35%); */

    background:
        linear-gradient(90deg, rgba(14, 12, 10, 0.98) 0%, rgba(14, 12, 10, 0.75232) 21.54%, rgba(14, 12, 10, 0.6) 35.81%, rgba(14, 12, 10, 0) 66.63%);
}

/* ==========================
  Categories CategoriesCard   
========================== */
.categories .categoriesCard {
    position: relative;
    overflow: hidden;
    height: 450px;
    border-radius: 30px;
}

.categories .categoriesCard-image {
    position: absolute;
    inset: 0;
    width: 100%;
    transition: .8s ease;
    height: 100%;
    object-fit: cover;
    display: block;
}

.categories .categoriesCard-overlay {
    position: absolute;
    inset: 0;
    /* background:
    linear-gradient(90deg,
      rgba(0, 0, 0, 0.62) 0%,
      rgba(0, 0, 0, 0.42) 22%,
      rgba(0, 0, 0, 0.15) 60%,
      rgba(0, 0, 0, 0) 72%),
    linear-gradient(0deg,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.28) 18%,
      rgba(0, 0, 0, 0.08) 25%,
      rgba(0, 0, 0, 0) 45%); */
    background: linear-gradient(0deg, rgba(14, 12, 10, 0.92) 0%, rgba(14, 12, 10, 0.45) 40%, rgba(14, 12, 10, 0.00) 70%);
    z-index: 1;
}

.categories .categoriesCard-content {
    position: absolute;
    bottom: 40px;
    left: 70px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
}

.categories .categoriesCard-title {
    font-size: 45px;
    line-height: .95;
    margin-bottom: 25px;
}

/* .categories .categoriesCard .cardsPara {
  max-width: 650px;
} */

.categories .categoriesCard-btn {
    /* margin-top: 20px; */
    width: fit-content;
}

/* ==========================
  Categories CategoriesSwiper  
========================== */
.categories .categoriesSwiper {
    position: relative;
}

.categories .categoriesSwiper .swiper {
    overflow: hidden;
    /* width: 100%;
  height: 100%; */
}

.categories .categoriesSwiper .swiper-button-prev,
.categories .categoriesSwiper .swiper-button-next {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 10px;
    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .2);
    transition: .3s;
    color: white;
}

.categories .categoriesSwiper .swiper-button-prev {
    left: max(calc((100% - 1300px)/2 + 5%), 2%) !important;
    right: auto !important;
}

.categories .categoriesSwiper .swiper-button-next {
    right: max(calc((100% - 1300px)/2 + 5%), 2%) !important;
    left: auto !important;
}

.categories .categoriesSwiper .swiper-button-prev:hover,
.categories .categoriesSwiper .swiper-button-next:hover {
    background: white;
    color: #2C2825;
}

.categories .categoriesSwiper .swiper-button-prev::after,
.categories .categoriesSwiper .swiper-button-next::after {
    font-size: 16px;
    font-weight: 700;
}

.categories .categoriesSwiper .swiper-horizontal>.swiper-pagination-bullets,
.categories .categoriesSwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 70px;
    left: max(calc((100% - 1200px)/2 + 5%), 5%);
    right: max(calc((100% - 1200px)/2 + 5%), 5%);
    width: auto;
}

.categories .categoriesSwiper .swiper-pagination {
    position: absolute;
    bottom: 70px;
    left: max(calc((100% - 1200px)/2 + 5%), 5%);
    right: max(calc((100% - 1200px)/2 + 5%), 5%);
    text-align: right;
    width: auto;
}

.categories .categoriesSwiper .swiper-pagination-bullet {
    width: 6px;
    height: 2px;
    background: rgba(245, 241, 236, 0.85);
    transition: .3s;
}

.categories .categoriesSwiper .swiper-pagination-bullet-active {
    width: 28px;
    /* border-radius: 20px; */
    background: rgba(245, 241, 236, 1);
}

/* ==========================
  Categories ExpansionRoadmap  
========================== */
.categories .expansionRoadmap-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-top: 40px;
}

.categories .expansionRoadmap-card {
    background: #F5F1EC;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories .expansionRoadmap-card .icon {
    /* width: 54px;
    height: 54px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A48767;
    margin-bottom: 24px;
}

.categories .expansionRoadmap-card .icon svg {
    width: 44px;
    height: 44px;
}

.categories .expansionRoadmap-card h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #111;
    margin-bottom: 16px;
}

.categories .expansionRoadmap-card p {
    font-size: 15px;
    line-height: 1.7;
    color: #4B4B4B;
    max-width: 220px;
}

.categories .expansionRoadmap-card:hover {
    transform: translateY(-6px);
}

/* ==========================
  Categories HowCategoriesEnterEcosystem   
========================== */
.categories .howCategoriesEnterEcosystem-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
}

/* EACH ITEM */
.categories .howCategoriesEnterEcosystem-grid>div {
    position: relative;
    display: flex;
    justify-content: center;
}

/* CARD */
.categories .howCategoriesEnterEcosystem-card {
    max-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ICON */
.categories .howCategoriesEnterEcosystem-card .icon {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: #987C62;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
}

.categories .howCategoriesEnterEcosystem-card .icon svg {
    width: 32px;
    height: 32px;
}

/* TITLE */
.categories .howCategoriesEnterEcosystem-card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    /* letter-spacing: 1.5px; */
    text-align: center;
    margin-bottom: 15px;
    /* height: 60px; */
    /* width: 150px; */
}

/* PARA */
.categories .howCategoriesEnterEcosystem-card p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
}

/* ==========================
ARROW
========================== */
.categories .howCategoriesEnterEcosystem-grid .arrow-wrapper {
    position: absolute;
    top: 15px;
    right: -18px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .howCategoriesEnterEcosystem-grid .arrow {
    color: #987C62;
    font-size: 40px;
    line-height: 1;
}

/* ==========================
  Categories LetsConnect  
========================== */
.categories .letsConnect-wrapper {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.categories .letsConnect-content {
    position: relative;
    z-index: 2;
    max-width: 500px;
}

.categories .letsConnect-heading-border {
    width: 120px;
    border: 1px solid #80664E;
    margin-bottom: 20px;
}

/* Button */
.categories .letsConnect-btn {
    border: none;
    background: #886f58 ;
    color: #fcfcfc;
    padding: 9px 15px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .8px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: .3s ease;
}

.categories .letsConnect-btn span {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #F3F3F3;
    color: #80664E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories .letsConnect-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(255, 255, 255, .15);
}

/* ==========================
  Categories Responsive  
========================== */
@media (max-width:1200px) {
    .categories .howCategoriesEnterEcosystem-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
    }
}

@media (max-width:992px) {
    .categories .categoriesCard {
        min-height: 400px;
    }

    .categories .categoriesCard-title {
        font-size: 35px;
    }

    .categories .expansionRoadmap-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media (max-width:768px) {
    .categories .categoriesHero .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(14, 12, 10, 0.98) 0%, rgba(14, 12, 10, 0.75232) 11.54%, rgba(14, 12, 10, 0.6) 59.81%, rgba(14, 12, 10, 0) 86.63%);
    }

    .categories .categoriesHero-content {
        text-align: center;
        margin-inline: auto;
        max-width: 400px;
    }

    .categories .categoriesCard-content {
        left: 50px;
        right: 50px;
    }

    .categories .categoriesCard-title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .categories .categoriesSwiper .swiper-button-prev,
    .categories .categoriesSwiper .swiper-button-next {
        width: 30px;
        height: 30px;
        padding: 7px;
    }

    .categories .categoriesSwiper .swiper-pagination-bullet {
        width: 4px;
    }

    .categories .categoriesSwiper .swiper-pagination-bullet-active {
        width: 20px;
    }

    .categories .expansionRoadmap-card .icon svg {
        width: 35px;
        height: 35px;
    }

    .categories .expansionRoadmap-card h3 {
        font-size: 18px;
    }

    .categories .expansionRoadmap-card p {
        line-height: 1.4;
    }

    .categories .howCategoriesEnterEcosystem-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }

    .categories .howCategoriesEnterEcosystem-card {
        width: 100%;
        max-width: 220px;
    }

    .categories .howCategoriesEnterEcosystem-card .icon {
        width: 60px;
        height: 60px;
    }

    .categories .howCategoriesEnterEcosystem-card .icon svg {
        width: 26px;
        height: 26px;
    }

    .categories .howCategoriesEnterEcosystem-card h3 {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .categories .letsConnect-content {
        max-width: 400px;
    }

    .categories .letsConnect-btn {
        font-size: 11px;
    }
}

@media (max-width:576px) {
    .categories .categoriesCard .explore-btn {
        padding: 10px 15px;
        font-size: 10px;
    }

    .categories .expansionRoadmap-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .categories .expansionRoadmap-card {
        min-height: auto;
        padding: 15px;
    }

    .categories .expansionRoadmap-card h3 {
        font-size: 16px;
    }

    .categories .expansionRoadmap-card p {
        font-size: 14px;
    }

    .categories .howCategoriesEnterEcosystem-grid {
        grid-template-columns: 1fr;
    }

    .categories .howCategoriesEnterEcosystem-card {
        margin-bottom: 10px;
        max-width: 300px;
    }

    .categories .howCategoriesEnterEcosystem-card .icon {
        width: 50px;
        height: 50px;
    }

    .categories .howCategoriesEnterEcosystem-card .icon svg {
        width: 20px;
        height: 20px;
    }

    .categories .howCategoriesEnterEcosystem-card h3 {
        font-size: 16px;
        width: auto;
    }

    .categories .howCategoriesEnterEcosystem-grid>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .categories .howCategoriesEnterEcosystem-grid .arrow-wrapper {
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0 25px;
    }

    .categories .letsConnect-btn {
        padding: 5px 12px;
        font-size: 10px;
    }
}

@media (max-width:480px) {
    /* .categories .categoriesCard {
        height: 400px;
    } */

    .categories .categoriesCard-title {
        font-size: 25px;
    }

    /* .categories .categoriesCard-btn {
        width: 100%;
        justify-content: center;
    } */

    .categories .categoriesSwiper .swiper-horizontal>.swiper-pagination-bullets,
    .categories .categoriesSwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
        width: 100%;
        bottom: 10px;
        text-align: center;
    }
}