.mobile-nav {
  padding: 10px 5%;
}

.nav-btn {
  background: transparent;
  color: #2C2825;
  border: .8px solid #2C282559;
  padding: 8px 28px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .3s;
  cursor: pointer;
}

.nav-btn:hover {
  background: #2C2825;
  color: white;
}
/* =========================
   CATEGORY DROPDOWN
========================= */

.category-dropdown {
  position: relative;
}

.category-dropdown-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: #7A7268;
  cursor: pointer;

  transition: .3s;
}

.category-dropdown-btn:hover {
  color: #2C2825;
}

.category-dropdown-menu {
  position: absolute;
  top: calc(100% + 20px);
  left: -20px;

  min-width: 200px;

  background: #F5F1EC;

  border: 1px solid rgba(44,40,37,.08);

  box-shadow:
    0 20px 40px rgba(0,0,0,.08);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: .3s;

  z-index: 999;
}

.category-dropdown:hover .category-dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.category-dropdown-item {
  display: block;
  padding: 14px 20px;
  color: #2C2825;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(44,40,37,.05);
  transition: .3s;
}

.category-dropdown-item:last-child {
  border-bottom: 0;
}

.category-dropdown-item:hover {
  background: #ffffff;
  padding-left: 25px;
}

/* =========================
   MOBILE CATEGORY
========================= */

/* .mobile-category {
  padding-bottom: 12px;
} */

.mobile-category-title {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2C2825;
  margin-bottom: 10px;
  display: block;
}

.mobile-category-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: 10px;
  border-bottom: 1px solid rgba(44,40,37,.08);
  padding-bottom: 7px;
}

.mobile-category-item {
  color: #7A7268;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  gap: 4px;
  align-items: center;
  transition:all 0.4s ease;
}
.mobile-category-item:hover{
  gap: 15px;
}